<footer class="colorgraph-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 text-center">
        <ul class="nav navbar-nav float-sm-right">
          <li class="nav-item">
            <a href="#"><i class="glyphicon glyphicon-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a href="#"><i class="glyphicon glyphicon-bullhorn"></i> Notice Board</a>
          </li>
          <li class="nav-item">
            <a href="#"><i class="glyphicon glyphicon-info-sign"></i> About</a>
          </li>
          <li class="nav-item">
            <a href="#"><i class="glyphicon glyphicon-envelope"></i> Contact Us</a>
          </li>
        </ul>
        <!--<small class="copyright text-muted small">Designed by IntlQ. Copyright &copy; 2016. All Rights Reserved.</small>-->
      </div>
    </div>
  </div><!--container ends-->
</footer>